<!-- inc:head -->

<div class="notice">
&raquo; 站内公告
<input type="button" value="公告列表" onclick="tourl('admin.php?file=notice&act=list')">
</div>

<div style="height:2px;"><div></div></div>

<div class="none">
<form method="post" action="admin.php?file=notice&act=addok" onsubmit="return chk();">
</div>

<div class="table" onmouseover="this.className='table table1'" onmouseout="this.className='table'">
	<div class="left">公告主题：<span style="color:red;">*</span></div>
	<div class="right">
		<input type="text" name="subject" id="subject" class="long_input">
		<img src="images/style.gif" title="主题样式" style="cursor:pointer;" align="absmiddle" onclick="subject_css(this)">
		<span class="clue_on">[请填写主题]</span>
	</div>
	<div class="clear"></div>
</div>

<input type="hidden" name="style" id="style">

<div class="table" onmouseover="this.className='table table1'" onmouseout="this.className='table'">
	<div class="left">链接网址：</div>
	<div class="right">
		<input type="text" name="notice_url" id="notice_url" class="long_input">
		<span class="clue_on">[使用链接网址后内容无效]</span>
	</div>
	<div class="clear"></div>
</div>

<div class="table">
	<div class="left">内容：</div>
	<div class="right">{inc:fckeditor}</div>
	<div class="clear"></div>
</div>

<div class="table" onmouseover="this.className='table table1'" onmouseout="this.className='table'">
	<div class="left">发布时间：</div>
	<div class="right">
		<input type="text" name="postdate" id="postdate" onclick="ShowDate('postdate');">
		<span class="clue_on">[不填写，使用系统时间]</span>
	</div>
	<div class="clear"></div>
</div>

<br /><br />
<div class="table">
	<div class="left"></div>
	<div class="right"><input type="submit" id="notice_submit" name="notice_submit" value="添加站内公告"></div>
	<div class="clear"></div>
</div>

</form>

<script type="text/javascript">
function subject_css(v)
{
	var vLeft = getLeft(v);
	var vTop = getTop(v);
	Layer.init('admin.php?file=open&act=style&inputname=style&subject_input=subject',375,170,vLeft,vTop);
}
function chk()
{
	var subject = $("subject").value;
	if(!subject)
	{
		alert("公告主题不能为空");
		return false;
	}
	var oEditor = FCKeditorAPI.GetInstance('content');
	var content = oEditor.GetXHTML(true);
	var url = $("notice_url").value;
	if(!url && !content)
	{
		alert("链接和内容必须有一个不为空");
		return false;
	}
	$("notice_submit").disabled = true;
}
</script>
<!-- inc:foot -->