<!-- inc:head -->

<div class="notice">
&raquo; 站内公告
<input type="button" value="添加新公告" onclick="tourl('admin.php?file=notice&act=add')">
</div>

<table width='100%' cellpadding='0' cellspacing='0'>
<tr>
	<td width='8%' class="t_sub">ID</td>
	<td class="t_sub">公告主题</td>
	<td width="17%" class="t_sub">发布时间</td>
	<td width="17%" class="t_sub">操作</td>
</tr>
<!-- $rslist AS $key=>$value -->
<tr class="tr_out" onMouseOver="this.className='tr_over'" onMouseOut="this.className='tr_out'">
	<td height='28px' align='center' class="tc_left">{:$value[id]}</td>
	<td align='left' class="tc_right">&nbsp;<span style="{:$value[style]}">{:$value[subject]}</span></td>
	<td align='center' class="tc_right">{:date("Y-m-d H:i:s",$value[postdate])}</td>
	<td align='center' class="tc_right">
		<input type="button" value="编辑" onclick="to_modify({:$value[id]})">
		<input type="button" value="删除" onclick="to_delete({:$value[id]});">
	</td>
</tr>
<!-- end -->
</table>

<script type="text/javascript">
function to_modify(id)
{
	tourl("admin.php?file=notice&act=modify&id="+id);
}
function to_delete(id)
{
	var question = confirm("确认删除该信息吗？特别说明，删除后无法恢复！");
	if (question != "0")
	{
		tourl("admin.php?file=notice&act=delete&id="+id);
	}
}
</script>

<!-- inc:foot -->